.meal-details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.meal-list {
  grid-column: 1;
}

.meal-details {
  grid-column: 2;

  z-index: -1;
}
.meal-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.meal-link:hover {
  color: darkblue;
}
td {
  border-bottom: 1px solid black;
}
th,
td {
  padding: 10px 30px 0px 10px;
  text-align: left;
}
.number {
  font-weight: bold;
}
