<div class="main">
  <div class="wrapper">
    <div class="header">
      <nav>
        <div class="logo">
          <a routerLink=""
            ><div class="image">
              <img
                src="https://icon-library.com/images/dinner-plate-icon-png/dinner-plate-icon-png-19.jpg"
                alt="Logo"
              /></div
          ></a>
          <a class="link" href="">Picasso</a>
        </div>
        <ul>
          <li><a href="">HOME</a></li>
          <li><a routerLink="/menu">MENU</a></li>
          <li><a routerLink="/about">ABOUT</a></li>
        </ul>
      </nav>

      <div class="overlay">
        <div class="content">
          <h1>WELCOME TO <br />PICASSO RESTAURANT</h1>
          <P
            >We extend a warm welcome to all our valued guests visiting our
            website. Enjoy exploring our offerings and we look forward to
            serving you soon!.</P
          >
        </div>
      </div>
    </div>
  </div>
</div>
